@import url(//db.onlinewebfonts.com/c/fba46a1ae4879b52e51dfe8f0ece60df?family=Adobe+Garamond);

@font-face {
  font-family: "Adobe Garamond";
  src: url("//db.onlinewebfonts.com/t/fba46a1ae4879b52e51dfe8f0ece60df.eot");
}

.mainText {
  font-family: "Adobe Garamond";
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(230, 233, 185);
  text-shadow: 0 0 10px rgb(252, 162, 162), 0 0 20px rgb(238, 116, 116),
    0 0 40px rgb(238, 116, 116), 0 0 80px rgb(209, 71, 71);
  font-size: 8vw;
  display: absolute;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  opacity: 0.85;
}

.subText {
  font-family: "Adobe Garamond";
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 40%;
  right: 0;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.buttonText {
  font-family: "Adobe Garamond";
  text-transform: uppercase;
}

.subText span:hover {
  color: fff;
  text-shadow: 0 0 10px #fff;
}
